body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Open Sans Light', helvetica, sans-serif;
  background: url('../img/bg2.jpeg');
  background-repeat: no-repeat;
  background-position: center;
}
p {
  line-height: 1.8;
}
a {
  color: #0093dd;
  text-decoration: none;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
a:hover {
  color: #3d65a0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans Light', 'Open Sans', sans-serif;
  font-weight: normal;
}
.clear {
  clear: both;
}
.header {
  width: 100%;
  color: #ffffff;
  height: 40%;
}
.header img {
  padding: 10px 0 0 10px;
  height: 30px;
}
.header .bus-stops-form {
  padding: 70px 0 50px 0;
  margin: 0 auto;
  text-align: center;
  z-index: -1;
}
.header h1 {
  font-family: 'Open Sans Light', 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 36px;
  margin: 0 0 30px 0;
  letter-spacing: -0.035em;
}
.header #search-form {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.header #search_bar {
  border: none;
  text-align: center;
  -webkit-border-radius: 6px;
  border-radius: 6px 0 0 6px;
  font-size: 20px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  color: #404040;
  background: #ffffff;
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2) inset;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.66);
}
.header #search-button {
  background-color: #3d65a0;
  /* Green */
  border: none;
  color: #ffffff;
  padding: 6px 6px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border-radius: 0 6px 6px 0;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  -webkit-box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.66);
}
.header #search-button:active {
  background: #ffffff;
  color: #3d65a0;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.container {
  width: 90%;
  min-height: 600px;
  margin: 0 auto;
}
.container .content {
  border-radius: 6px;
  background-color: #fff;
  opacity: 0.9;
  margin: 0 auto;
  transition: all 2s ease-in;
  padding: 0;
  text-align: center;
}
.container .content p {
  margin: 5px 0 5px 0;
  font-size: 16px;
}
.container .content h2 {
  letter-spacing: -1px;
  font-weight: 400;
  color: #0093dd;
  font-size: 24px;
  margin: 0;
}
.container .content a .bus-stop-item {
  letter-spacing: -1px;
  font-weight: 400;
  color: #0093dd;
  font-size: 20px;
  margin: 12px;
}
.container a .bus-stop-direction-item {
  border-radius: 6px;
  background-color: #ffffff;
  color: #0093dd;
}
.container a .bus-stop-direction-item h3 {
  letter-spacing: -1px;
  font-weight: 400;
  font-size: 28px;
  margin: 0;
}
.container a .bus-stop-direction-item .bollard-direction {
  margin: 0 auto;
  width: 80%;
}
.container a .bus-stop-direction-item .bollard-direction p {
  margin: 0;
  padding-bottom: 4px;
  font-size: 12px;
}
.container a .bus-stop-direction-item .bollard-direction p .line-name {
  font-weight: 700;
}
.schedule {
  border-radius: 4px;
  vertical-align: center;
  margin: 0 auto;
  color: #444444;
  background-color: #fff;
  font-size: 12px;
  margin-bottom: 12px;
}
.schedule .schedule-header {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  background-color: #3d65a0;
  color: #ffffff;
}
.schedule .schedule-header .departure-detail {
  width: 20%;
  padding-left: 12px;
}
.schedule .schedule-header .departure-detail-line {
  width: 5%;
  text-align: center;
  padding-left: 12px;
}
.schedule .departure-row {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.schedule .departure-row .departure-detail {
  width: 20%;
  padding-left: 12px;
}
.schedule .departure-row .departure-detail-line {
  font-weight: 700;
  width: 5%;
  text-align: center;
  padding-left: 12px;
}
.departure-row:hover {
  background-color: lightblue;
  color: #ffffff;
}
.footer {
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
}
.footer h3 {
  padding: 15px;
  font-size: 12px;
}
@media only screen and (min-width: 900px) {
  .header h1 {
    font-size: 52px;
  }
  .header .bus-stops-form {
    padding: 100px 0 50px 0;
  }
  .header #search_bar {
    font-size: 42px;
    border-radius: 6px;
  }
  .header #search-button {
    visibility: hidden;
  }
  .container .content {
    width: 60%;
  }
  .container .content h2 {
    font-size: 42px;
  }
  .container .content p {
    margin: 0px;
    padding: 5px;
    font-size: 20px;
  }
  .container .content .bus-stop-item h3 {
    font-size: 32px;
  }
  .container .content .bollard-direction {
    width: 50%;
  }
  .schedule {
    width: 100%;
    margin: 0 auto;
    color: #444444;
    font-size: 20px;
  }
  .schedule .schedule-header .departure-detail {
    padding-left: 32px;
  }
  .schedule .schedule-header .departure-detail-line {
    width: 10%;
    text-align: center;
    padding-left: 32px;
  }
  .schedule .departure-row .departure-detail {
    padding-left: 32px;
  }
  .schedule .departure-row .departure-detail-line {
    width: 10%;
    text-align: center;
    padding-left: 32px;
  }
  .footer h3 {
    font-size: 16px;
  }
}
