body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Open Sans Light', helvetica, sans-serif;
  background: url('../img/bg2.jpeg');
  background-repeat: no-repeat;
  background-position: center;
}

p {
  line-height: 1.8;
}

a {
  color: #0093dd;
  text-decoration: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

a:hover {
  color: #3d65a0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans Light', 'Open Sans', sans-serif;
  font-weight: normal;
}

.clear {
  clear: both;
}

.header {
  img {
    padding: 10px 0 0 10px;
    height: 30px;
  }
  width: 100%;
  color: #ffffff;
  height: 40%;
  .bus-stops-form {
    padding: 70px 0 50px 0;
    margin: 0 auto;
    text-align: center;
    z-index: -1;
  }
  h1 {
    font-family: 'Open Sans Light', 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 36px;
    margin: 0 0 30px 0;
    letter-spacing: -.035em;
  }
  #search-form {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #search_bar {
    border: none;
    text-align: center;
    -webkit-border-radius: 6px;
    border-radius: 6px 0 0 6px;
    font-size: 20px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    color: rgba(64, 64, 64, 1);
    background: #ffffff;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2) inset;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.66);
  }
  #search-button {
    background-color: #3d65a0; /* Green */
    border: none;
    color: #ffffff;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 0 6px 6px 0;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    -webkit-box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.66);
  }
  #search-button:active {
    background: #ffffff;
    color: #3d65a0;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
  }
}

.container {
  width: 90%;
  min-height: 600px;
  margin: 0 auto;
  .content {
    border-radius: 6px;
    background-color: #fff;
    opacity: 0.9;
    margin: 0 auto;
    transition: all 2s ease-in;
    padding: 0;
    text-align: center;
    p {
      margin: 5px 0 5px 0;
      font-size: 16px;
    }
    h2 {
      letter-spacing: -1px;
      font-weight: 400;
      color: #0093dd;
      font-size: 24px;
      margin: 0;
    }
    a .bus-stop-item {
      letter-spacing: -1px;
      font-weight: 400;
      color: #0093dd;
      font-size: 20px;
      margin: 12px;
    }
  }
  a .bus-stop-direction-item {
    border-radius: 6px;
    background-color: #ffffff;
    color: #0093dd;
    h3 {
      letter-spacing: -1px;
      font-weight: 400;
      font-size: 28px;
      margin: 0;
    }
    .bollard-direction {
      margin: 0 auto;
      width: 80%;
      p {
        margin: 0;
        padding-bottom: 4px;
        font-size: 12px;
        .line-name {
          font-weight: 700;
        }
      }
    }
  }
}

.schedule {
  border-radius: 4px;
  vertical-align: center;
  margin: 0 auto;
  color: #444444;
  background-color: #fff;
  font-size: 12px;
  margin-bottom: 12px;
  .schedule-header {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    background-color: #3d65a0;
    color: #ffffff;
    .departure-detail {
      width: 20%;
      padding-left: 12px;
    }
    .departure-detail-line {
      width: 5%;
      text-align: center;
      padding-left: 12px;
    }
  }
  .departure-row {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    .departure-detail {
      width: 20%;
      padding-left: 12px;
    }
    .departure-detail-line {
      font-weight: 700;
      width: 5%;
      text-align: center;
      padding-left: 12px;
    }
  }
}

.departure-row:hover {
  background-color: lightblue;
  color: #ffffff;
}

.footer {
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  h3 {
    padding: 15px;
    font-size: 12px;
  }
}

@media only screen and (min-width: 900px) {
  .header {
    h1 {
      font-size: 52px;
    }
    .bus-stops-form {
      padding: 100px 0 50px 0;
    }
    #search_bar {
      font-size: 42px;
      border-radius: 6px;
    }
    #search-button {
      visibility: hidden;
    }
  }

  .container {
    .content {
      width: 60%;
      h2 {
        font-size: 42px;
      }
      p {
        margin: 0px;
        padding: 5px;
        font-size: 20px;
      }
      .bus-stop-item {
        h3 {
          font-size: 32px;
        }
      }
      .bollard-direction {
        width: 50%;
      }
    }
  }

  .schedule {
    width: 100%;
    margin: 0 auto;
    color: #444444;
    font-size: 20px;
    .schedule-header {
      .departure-detail {
        padding-left: 32px;
      }
      .departure-detail-line {
        width: 10%;
        text-align: center;
        padding-left: 32px;
      }
    }
    .departure-row {
      .departure-detail {
        padding-left: 32px;
      }
      .departure-detail-line {
        width: 10%;
        text-align: center;
        padding-left: 32px;
      }
    }
  }

  .footer {
    h3 {
      font-size: 16px;
    }
  }
}