{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wirtualny monitor - Poznań </title>
    <link href="{% static "wm/css/style.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static "wm/js/jquery.nicescroll.min.js" %}"></script>
</head>
<body>
<div class="header">
    <img src="{% static "wm/img/poznanlogo.png" %}" alt="Poznań logo">
    <div class="bus-stops-form">
        <h1>Szukaj przystanku</h1>
        <form action="." method="get" id="search-form" autocomplete="off">
            <input type="text" id="search_bar">
            <button id="search-button"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
    </div>
</div>
<div class="container">
    <div class="content">
    </div>
</div>
<footer class="footer">
    <h3>Copyright Krzysztof Urban 2017 &copy;</h3>
    <h3>Dane z serwisu Wirtualny Monitor PEKA Poznań</h3>
</footer>
<script src="{% static "wm/js/script.js" %}"></script>

</body>
</html>
